
.faqWrapper {
  max-width: 75%;
  margin: auto;
}

.faqWrapper > p,
.faqWrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.faqWrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(45deg, #ffffff, #f7f7f7);
  border: 1px solid #c7c7c7;
  border-radius: 2rem 2rem 0 0;
}

.accordion i {
  font-size: 2.6rem;
}

.accordion:hover {
  background-color: #D22E6B;
}
.faqPannel {
  padding: 1rem 2rem 2.5rem 2rem; 
  background: linear-gradient(45deg, #ffffff, #f7f7f7);
  overflow: hidden;
  display: none;
  border: 3px dashed #D22E6B;
  border-radius: 0 0 2rem 2rem;
  border-top: none;
}
.faqPannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faqB {
  margin: 10px 0;
}
.faqB.active {
  border: none;
}


@media screen and (max-width: 550px){

  .faqWrapper {
    max-width: 90%;
    margin: auto;
  }
  }

